PCMF_GUI/IPS/Service References/UserMgtService/Service144.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://140.116.86.170/UserManagements/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UserManagements" />
  <xs:import schemaLocation="http://140.116.86.170/UserManagements/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="registerCloudUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPhone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="employeeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerCloudUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registerCloudUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="validateAccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modeifyAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tempUserPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPhone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="employeeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newUserRole" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldUserRole" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modeifyAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modeifyAccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteAccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserInformation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UserManagements" minOccurs="0" name="getUserInformationResult" nillable="true" type="q1:ArrayOfUserInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkUserNameExistOrNot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkUserNameExistOrNotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkUserNameExistOrNotResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getUserRoleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewRelyingParty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="relyingPartyNameString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sampleRuleGroupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewRelyingPartyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateNewRelyingPartyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRelyingParty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="relyingPartyNameString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRelyingPartyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRelyingPartyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllRoles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getAllRolesResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllServiceGroup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllServiceGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getAllServiceGroupResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserKeyInformation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserKeyInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getUserKeyInformationResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserKeyByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserKeyByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getUserKeyByNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenFromACS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scope" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenFromACSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTokenFromACSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>