PCMF_GUI/IPS/Service References/RecommendedCuttingTool/OntologyServiceCuttingToolInterface32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetDriverOption">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDriverOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDriverOptionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PriavateUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TargetPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PriavateUploadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PriavateDownload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TargetPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SavePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PriavateDownloadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="uploadBlob2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uploadBlob2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uploadBlob2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInferSelectStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getInferSelectStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getInferSelectStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertJsonFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_converMethod" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_getString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertJsonFunctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertJsonFunctionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OntologyCuttingToolInterface">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_method" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_getString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DriverOption" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OntologyCuttingToolInterfaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OntologyCuttingToolInterfaceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateInferSelectStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NCName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Stage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CuttingToolNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SelectCT" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ReplaceableCuttingToolNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isselect" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateInferSelectStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateInferSelectStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>