PCMF_GUI/IPS/Service References/ModelManager/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceBroker" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceBroker" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://140.116.86.172/ModelManagementServices/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://140.116.86.172/ModelManagementServices/Service1.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:complexType name="ModelFull">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="equipmentList" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="model" nillable="true" type="q2:Model" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="vMachineList" nillable="true" type="q3:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelFull" nillable="true" type="tns:ModelFull" />
</xs:schema>