PCMF_GUI/IPS/Service References/DataAcquisition/Service7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://140.116.86.235/DataAquactionServices/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://140.116.86.235/DataAquactionServices/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataAquactionServices" />
  <xs:import schemaLocation="http://140.116.86.235/DataAquactionServices/Service.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="getVmachineList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getVmachineListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getVmachineListResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEquipmentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vMachineName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEquipmentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getEquipmentListResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSensorList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vMachineName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="equipmentName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSensorListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getSensorListResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uploadSTDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vMachineID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="equipmentID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sensor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uploadSTDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uploadSTDBResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="startPeriodTimeUploadSTDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vMachineID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="equipmentID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sensor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hour" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="startPeriodTimeUploadSTDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startPeriodTimeUploadSTDBResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="stopPeriodTimeUploadSTDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vMachineID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="equipmentID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sensor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hour" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="stopPeriodTimeUploadSTDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stopPeriodTimeUploadSTDBResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllVmachineStateList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllVmachineStateListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataAquactionServices" minOccurs="0" name="getAllVmachineStateListResult" nillable="true" type="q4:ArrayOfvMachineState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllStopVmachineStateList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllStopVmachineStateListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataAquactionServices" minOccurs="0" name="getAllStopVmachineStateListResult" nillable="true" type="q5:ArrayOfvMachineState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllStartVmachineStateList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllStartVmachineStateListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataAquactionServices" minOccurs="0" name="getAllStartVmachineStateListResult" nillable="true" type="q6:ArrayOfvMachineState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uploadDefOfSTDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ds" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="vMachineID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="equipmentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uploadDefOfSTDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uploadDefOfSTDBResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateVMResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ds" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="vMachineID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="equipmentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateVMResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateVMResultResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getModelResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="phase" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vMachineName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="equipment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getModelResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DataAquactionServices" minOccurs="0" name="getModelResultResult" nillable="true" type="q7:ModelPredictiveValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEquipmentByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vMachineName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEquipmentByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getEquipmentByNameResult" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllvMachine">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllvMachineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getAllvMachineResult" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getServiceBrokerInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getServiceBrokerInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getServiceBrokerInfoResult" nillable="true" type="q10:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strURL" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getProductInfoResult" nillable="true" type="q11:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductInfo1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strURL" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductInfo1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getProductInfo1Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductionHistoInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strURL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strProductType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strProductName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductionHistoInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getProductionHistoInfoResult" nillable="true" type="q12:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductBasicInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strURL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCNCID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strProductType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strProductName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strvMachineID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductBasicInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DataAquactionServices" minOccurs="0" name="getProductBasicInfoResult" nillable="true" type="q13:ProductBasicInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FanoutDCP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DataAquactionServices" minOccurs="0" name="DCPInfo" nillable="true" type="q14:DADCPInfo" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DataAquactionServices" minOccurs="0" name="PBIInfo" nillable="true" type="q15:ProductBasicInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FanoutDCPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FanoutDCPResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDCR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DCRXMLString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDCRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDCRResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDCR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DCRXMLString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDCRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertDCRResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDCPInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDCPInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DataAquactionServices" minOccurs="0" name="getDCPInfoResult" nillable="true" type="q16:DCPInfoClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileUploadMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/Message" name="FileData" type="q17:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileName" nillable="true" type="xs:string" />
  <xs:element name="FileType" nillable="true" type="xs:string" />
</xs:schema>