PCMF_GUI/IPS/Service References/DataAcquisition/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://140.116.86.235/DataAquactionServices/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://140.116.86.235/DataAquactionServices/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://140.116.86.235/DataAquactionServices/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://140.116.86.235/DataAquactionServices/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataAquactionServices" />
      <xsd:import schemaLocation="http://140.116.86.235/DataAquactionServices/Service.svc?xsd=xsd4" />
      <xsd:import schemaLocation="http://140.116.86.235/DataAquactionServices/Service.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_getVmachineList_InputMessage">
    <wsdl:part name="parameters" element="tns:getVmachineList" />
  </wsdl:message>
  <wsdl:message name="IService_getVmachineList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getVmachineListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getEquipmentList_InputMessage">
    <wsdl:part name="parameters" element="tns:getEquipmentList" />
  </wsdl:message>
  <wsdl:message name="IService_getEquipmentList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEquipmentListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getSensorList_InputMessage">
    <wsdl:part name="parameters" element="tns:getSensorList" />
  </wsdl:message>
  <wsdl:message name="IService_getSensorList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSensorListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_uploadSTDB_InputMessage">
    <wsdl:part name="parameters" element="tns:uploadSTDB" />
  </wsdl:message>
  <wsdl:message name="IService_uploadSTDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:uploadSTDBResponse" />
  </wsdl:message>
  <wsdl:message name="IService_startPeriodTimeUploadSTDB_InputMessage">
    <wsdl:part name="parameters" element="tns:startPeriodTimeUploadSTDB" />
  </wsdl:message>
  <wsdl:message name="IService_startPeriodTimeUploadSTDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:startPeriodTimeUploadSTDBResponse" />
  </wsdl:message>
  <wsdl:message name="IService_stopPeriodTimeUploadSTDB_InputMessage">
    <wsdl:part name="parameters" element="tns:stopPeriodTimeUploadSTDB" />
  </wsdl:message>
  <wsdl:message name="IService_stopPeriodTimeUploadSTDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:stopPeriodTimeUploadSTDBResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getAllVmachineStateList_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllVmachineStateList" />
  </wsdl:message>
  <wsdl:message name="IService_getAllVmachineStateList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllVmachineStateListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getAllStopVmachineStateList_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllStopVmachineStateList" />
  </wsdl:message>
  <wsdl:message name="IService_getAllStopVmachineStateList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllStopVmachineStateListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getAllStartVmachineStateList_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllStartVmachineStateList" />
  </wsdl:message>
  <wsdl:message name="IService_getAllStartVmachineStateList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllStartVmachineStateListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_uploadDefOfSTDB_InputMessage">
    <wsdl:part name="parameters" element="tns:uploadDefOfSTDB" />
  </wsdl:message>
  <wsdl:message name="IService_uploadDefOfSTDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:uploadDefOfSTDBResponse" />
  </wsdl:message>
  <wsdl:message name="IService_updateVMResult_InputMessage">
    <wsdl:part name="parameters" element="tns:updateVMResult" />
  </wsdl:message>
  <wsdl:message name="IService_updateVMResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateVMResultResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getModelResult_InputMessage">
    <wsdl:part name="parameters" element="tns:getModelResult" />
  </wsdl:message>
  <wsdl:message name="IService_getModelResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:getModelResultResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getEquipmentByName_InputMessage">
    <wsdl:part name="parameters" element="tns:getEquipmentByName" />
  </wsdl:message>
  <wsdl:message name="IService_getEquipmentByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEquipmentByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getAllvMachine_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllvMachine" />
  </wsdl:message>
  <wsdl:message name="IService_getAllvMachine_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllvMachineResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getServiceBrokerInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:getServiceBrokerInfo" />
  </wsdl:message>
  <wsdl:message name="IService_getServiceBrokerInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getServiceBrokerInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getProductInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductInfo" />
  </wsdl:message>
  <wsdl:message name="IService_getProductInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getProductInfo1_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductInfo1" />
  </wsdl:message>
  <wsdl:message name="IService_getProductInfo1_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductInfo1Response" />
  </wsdl:message>
  <wsdl:message name="IService_getProductionHistoInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductionHistoInfo" />
  </wsdl:message>
  <wsdl:message name="IService_getProductionHistoInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductionHistoInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getProductBasicInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductBasicInfo" />
  </wsdl:message>
  <wsdl:message name="IService_getProductBasicInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductBasicInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService_FanoutDCP_InputMessage">
    <wsdl:part name="parameters" element="tns:FanoutDCP" />
  </wsdl:message>
  <wsdl:message name="IService_FanoutDCP_OutputMessage">
    <wsdl:part name="parameters" element="tns:FanoutDCPResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getDCR_InputMessage">
    <wsdl:part name="parameters" element="tns:getDCR" />
  </wsdl:message>
  <wsdl:message name="IService_getDCR_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDCRResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertDCR_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertDCR" />
  </wsdl:message>
  <wsdl:message name="IService_InsertDCR_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertDCRResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getDCPInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:getDCPInfo" />
  </wsdl:message>
  <wsdl:message name="IService_getDCPInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDCPInfoResponse" />
  </wsdl:message>
  <wsdl:message name="FileUploadMessage">
    <wsdl:part name="parameters" element="tns:FileUploadMessage" />
  </wsdl:message>
  <wsdl:message name="FileUploadMessage_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="FileType" element="tns:FileType" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="getVmachineList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getVmachineList" message="tns:IService_getVmachineList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getVmachineListResponse" message="tns:IService_getVmachineList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEquipmentList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getEquipmentList" message="tns:IService_getEquipmentList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getEquipmentListResponse" message="tns:IService_getEquipmentList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSensorList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getSensorList" message="tns:IService_getSensorList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getSensorListResponse" message="tns:IService_getSensorList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="uploadSTDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/uploadSTDB" message="tns:IService_uploadSTDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/uploadSTDBResponse" message="tns:IService_uploadSTDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="startPeriodTimeUploadSTDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/startPeriodTimeUploadSTDB" message="tns:IService_startPeriodTimeUploadSTDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/startPeriodTimeUploadSTDBResponse" message="tns:IService_startPeriodTimeUploadSTDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="stopPeriodTimeUploadSTDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/stopPeriodTimeUploadSTDB" message="tns:IService_stopPeriodTimeUploadSTDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/stopPeriodTimeUploadSTDBResponse" message="tns:IService_stopPeriodTimeUploadSTDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllVmachineStateList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getAllVmachineStateList" message="tns:IService_getAllVmachineStateList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getAllVmachineStateListResponse" message="tns:IService_getAllVmachineStateList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllStopVmachineStateList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getAllStopVmachineStateList" message="tns:IService_getAllStopVmachineStateList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getAllStopVmachineStateListResponse" message="tns:IService_getAllStopVmachineStateList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllStartVmachineStateList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getAllStartVmachineStateList" message="tns:IService_getAllStartVmachineStateList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getAllStartVmachineStateListResponse" message="tns:IService_getAllStartVmachineStateList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="uploadDefOfSTDB">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/uploadDefOfSTDB" message="tns:IService_uploadDefOfSTDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/uploadDefOfSTDBResponse" message="tns:IService_uploadDefOfSTDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateVMResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/updateVMResult" message="tns:IService_updateVMResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/updateVMResultResponse" message="tns:IService_updateVMResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getModelResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getModelResult" message="tns:IService_getModelResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getModelResultResponse" message="tns:IService_getModelResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEquipmentByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getEquipmentByName" message="tns:IService_getEquipmentByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getEquipmentByNameResponse" message="tns:IService_getEquipmentByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllvMachine">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getAllvMachine" message="tns:IService_getAllvMachine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getAllvMachineResponse" message="tns:IService_getAllvMachine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getServiceBrokerInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getServiceBrokerInfo" message="tns:IService_getServiceBrokerInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getServiceBrokerInfoResponse" message="tns:IService_getServiceBrokerInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getProductInfo" message="tns:IService_getProductInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getProductInfoResponse" message="tns:IService_getProductInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductInfo1">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getProductInfo1" message="tns:IService_getProductInfo1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getProductInfo1Response" message="tns:IService_getProductInfo1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductionHistoInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getProductionHistoInfo" message="tns:IService_getProductionHistoInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getProductionHistoInfoResponse" message="tns:IService_getProductionHistoInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductBasicInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getProductBasicInfo" message="tns:IService_getProductBasicInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getProductBasicInfoResponse" message="tns:IService_getProductBasicInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FanoutDCP">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/FanoutDCP" message="tns:IService_FanoutDCP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/FanoutDCPResponse" message="tns:IService_FanoutDCP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDCR">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getDCR" message="tns:IService_getDCR_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getDCRResponse" message="tns:IService_getDCR_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertDCR">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertDCR" message="tns:IService_InsertDCR_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertDCRResponse" message="tns:IService_InsertDCR_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDCPInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getDCPInfo" message="tns:IService_getDCPInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getDCPInfoResponse" message="tns:IService_getDCPInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="UploadFile" name="FileUploadMessage" message="tns:FileUploadMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getVmachineList">
      <soap:operation soapAction="http://tempuri.org/IService/getVmachineList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEquipmentList">
      <soap:operation soapAction="http://tempuri.org/IService/getEquipmentList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSensorList">
      <soap:operation soapAction="http://tempuri.org/IService/getSensorList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadSTDB">
      <soap:operation soapAction="http://tempuri.org/IService/uploadSTDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="startPeriodTimeUploadSTDB">
      <soap:operation soapAction="http://tempuri.org/IService/startPeriodTimeUploadSTDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stopPeriodTimeUploadSTDB">
      <soap:operation soapAction="http://tempuri.org/IService/stopPeriodTimeUploadSTDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllVmachineStateList">
      <soap:operation soapAction="http://tempuri.org/IService/getAllVmachineStateList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllStopVmachineStateList">
      <soap:operation soapAction="http://tempuri.org/IService/getAllStopVmachineStateList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllStartVmachineStateList">
      <soap:operation soapAction="http://tempuri.org/IService/getAllStartVmachineStateList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadDefOfSTDB">
      <soap:operation soapAction="http://tempuri.org/IService/uploadDefOfSTDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateVMResult">
      <soap:operation soapAction="http://tempuri.org/IService/updateVMResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getModelResult">
      <soap:operation soapAction="http://tempuri.org/IService/getModelResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEquipmentByName">
      <soap:operation soapAction="http://tempuri.org/IService/getEquipmentByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllvMachine">
      <soap:operation soapAction="http://tempuri.org/IService/getAllvMachine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServiceBrokerInfo">
      <soap:operation soapAction="http://tempuri.org/IService/getServiceBrokerInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductInfo">
      <soap:operation soapAction="http://tempuri.org/IService/getProductInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductInfo1">
      <soap:operation soapAction="http://tempuri.org/IService/getProductInfo1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductionHistoInfo">
      <soap:operation soapAction="http://tempuri.org/IService/getProductionHistoInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductBasicInfo">
      <soap:operation soapAction="http://tempuri.org/IService/getProductBasicInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FanoutDCP">
      <soap:operation soapAction="http://tempuri.org/IService/FanoutDCP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDCR">
      <soap:operation soapAction="http://tempuri.org/IService/getDCR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDCR">
      <soap:operation soapAction="http://tempuri.org/IService/InsertDCR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDCPInfo">
      <soap:operation soapAction="http://tempuri.org/IService/getDCPInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="UploadFile" style="document" />
      <wsdl:input name="FileUploadMessage">
        <soap:header message="tns:FileUploadMessage_Headers" part="FileName" use="literal" />
        <soap:header message="tns:FileUploadMessage_Headers" part="FileType" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://140.116.86.235/DataAquactionServices/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>